{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src="{{ s.image | relative_url }}"
             alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}" href="/about/">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  {% assign sum = site.posts | size %}
    <li>
      <a href="mailto:repack.lab.io@gmail.com?subject=문의할것이있나요?" target="_blank">
        <img draggable="false" title=":e-mail:" alt="📧" src="https://twemoji.maxcdn.com/2/svg/1f4e7.svg" class="emoji">
        <span style="font-size: large; font-family: 'SBAggroL'; color: white;">Email</span>
      </a>
    </li>
    <li>
      <a href="https://github.com/ywbook" target="_blank">
        <img draggable="false" title=":books:" alt="📚" src="https://twemoji.maxcdn.com/2/svg/1f4da.svg" class="emoji">
        <span style="font-size: large; font-family: 'SBAggroL'; color: white;">GitHub</span>
      </a>
    </li>
    <li draggable="false">
      <img draggable="false" title=":file_folder:" alt="📁" src="https://twemoji.maxcdn.com/2/svg/1f4c1.svg" class="emoji"> <span style="font-family: 'SBAggroL'; font-size: large; padding-right: 5px;">전체 글 수</span><span style="font-family:'SBAggroL'; font-size: large;">{{sum}}</span> <span style="font-family:'SBAggroL'; font-size: large;">개</span>
    </li>
    <li draggable="false">
      <img draggable="false" title=":bust_in_silhouette:" alt="👤" src="https://twemoji.maxcdn.com/2/svg/1f464.svg" class="emoji"> <span style="font-size: large; font-family: 'SBAggroL';">방문자<span id="visits" style="padding-right: 6px; padding-left: 5px;"></span>명</span>
      <script>
        function cb(response) {
            document.getElementById('visits').innerText = response.value;
        }
      </script>
      <script async src="https://api.countapi.xyz/hit/ywbook.github.io/visits?callback=cb"></script>
    </li>
  </div>
{% endif %}