---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

@font-face {
  font-family: "JetBrains Mono";
  src: url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2")
      format("woff2"),
    url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import url("//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css");

@font-face {
  font-family: "SBAggroL";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bazzi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.masthead {
  font-size: 25px;
}

.initial-content {
  font-family: $serif, Georgia, Times, serif;
  font-size: 18px;
}

.toc {
  font-family: $serif, Georgia, Times, serif;
  // font-size: 22px;
}

.toc__menu {
  font-size: 18px;
}

.nav__title {
  font-family: $serif, Georgia, Times, serif;
  font-size: 20px;
}

.page__share,
.grid__item,
h2,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serif, Georgia, Times, serif;
}

.u-url,
.p-note {
  font-family: $fat;
  font-weight: lighter;
}

.page__title {
  font-size: 40px;
  font-family: $fat;
  font-weight: lighter;
}

.breadcrumbs {
  font-family: $sans-serif;
  font-weight: lighter;
  font-size: x-large;
}

.archive__item-excerpt {
  font-size: large;
}

.greedy-nav {
  font-family: $fat;
}

.page__meta {
  font-family: $fat;
}

.archive__subtitle {
  font-family: $fat;
  font-size: x-large;
  font-weight: lighter;
}

.page__footer {
  font-size: 110%;
  font-family: $serif;
}

.author__urls {
  font-weight: bold;
  font-size: 120%;
}

.archive__item-title {
  font-family: $fat;
  font-weight: lighter;
}

.language-plaintext:not(.key) {
  background-color: rgb(59, 59, 59);
  color: $primary-color;
}
