.page__taxonomy-item-category {
  background: mix($background-color, $border-color, 50%);
  margin-right: 3px;
  border: 0 solid;
  border-radius: 5px;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
}
