// text underline decoration

u {
	text-decoration: none;
	border-bottom-style: solid;
	border-bottom: 1px solid #fff;
	padding-bottom: 0.1em;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.r {
	border-radius: 6px;
}

.outline {
	border: 2px solid $border-color;
}

details.bd > summary {
	list-style-type: none;
}

details.bd > summary::-webkit-details-marker {
	display: none;
}

.emoji {
	width: 1rem;
	padding-bottom: 3px;
	display: inline-block;
	margin-right: 2px;
}

.soft {
	color: mix($text-color, $background-color, 50%);
}

.void {
	background-color: transparent;
}

.red {
	color: #ff3a20;
}

.orange {
	color: rgb(255, 102, 0);
}

.yellow {
	color: #fff06c;
}

.blue {
	color: #296cff;
}

.green {
	color: #78e222;
}

.purple {
	color: #c22ce7;
}

.bold {
	font-weight: bold;
}

.lighter {
	font-weight: lighter;
}

.var {
	color: $base0e;
	font-family: $monospace;
	font-weight: bold;
}

.mns {
	font-family: $monospace;
}

.serif {
	font-family: $serif;
}

.cute {
	font-family: $cute;
}

.scrawl {
	font-family: $scrawl;
}

.quote {
	font-family: $serif;
}

.code-title {
	margin-bottom: -8px;
	display: inline-block;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background-color: $base00; //코드 블럭 색
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	font-size: medium; //↓ monospace 폰트 ↓
	font-family: $monospace;
}
