// text underline decoration

.u {
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom: 1px solid #fff;
  padding-bottom: 0.1em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.r {
  border-radius: 6px;
}

.outline {
  border: 2px solid $border-color;
}

details.bd > summary {
  list-style-type: none;
}

details.bd > summary::-webkit-details-marker {
  display: none;
}

.fat {
  font-family: $fat;
}
