// Keys

.key.h {
  color: #000;
  font-family: $monospace;
  font-weight: bold;
  background: #fff;

  align-items: center;

  display: inline-block;
  border: 0em;
  margin: 0em;
  margin-left: 0.1em;
  margin-right: 0.1em;
  padding: 0em;
  padding-right: 0em;
  padding-left: 0em;
  border-radius: 3px;
  box-shadow: 0 0 0 0 #fff, 0 0.25em 0 0 #bbb;

  cursor: pointer;

  transition: 0.1s cubic-bezier(0, 0, 0.8, 1);
}

.key.h:active {
  transform: translate(0, 0.2em);
  //top: 2em;
  box-shadow: 0 0 0 0 #fff098, 0 0.05em 0 0 #afab8c;
}

//special

.key.sp {
  color: #000;
  font-family: $monospace;
  font-weight: bold;
  background: #ffed9c;

  align-items: center;

  display: inline-block;
  border: 0em;
  border-radius: 3px;
  margin: 0em;
  margin-left: 0.1em;
  margin-right: 0.1em;
  padding: 0em;
  padding-right: 0em;
  padding-left: 0em;
  box-shadow: 0 0 0 0 #ffed9c, 0 0.25em 0 0 #afab8c;

  cursor: pointer;

  transition: 0.1s cubic-bezier(0, 0, 0.8, 1);
}

.key.sp:active {
  transform: translate(0, 0.2em);
  //top: 2em;
  box-shadow: 0 0 0 0 #fff098, 0 0.05em 0 0 #afab8c;
}
