// Keys

.key.h {
	color: #000;
	font-family: $monospace;
	font-weight: bold;
	background: #fff;

	align-items: center;

	display: inline-block;
	border: 0em;
	margin: 0em;
	margin-left: 0.1em;
	margin-right: 0.1em;
	padding: 0em;
	padding-right: 0em;
	padding-left: 0em;
	border-radius: 3px;
	box-shadow: 0 0 0 0 #fff, 0 0.12em 0 0 #bbb;
}
