// Keys

.key {
	color: #000;
	font-family: $monospace;
	font-weight: bold;
	background: #fff;

	align-items: center;
	
	display: inline-block;
	border: 0em;
	margin: .1em;
	padding: 0em;
	padding-right: .1em;
	padding-left: .1em;
	box-shadow: 0 0 0 0 #fff, 0 .25em 0 0 #bbb;
	
	cursor: pointer;
	
	transition: .1s cubic-bezier(0, 0, .8, 1);
}

.key:active {
	transform: translate(0, .2em);
	box-shadow: 0 0 0 0 #fff, 0 .05em 0 0 #bbb;
}

//special

.key.sp {
	color: #000;
	font-family: $monospace;
	font-weight: bold;
	background: #fff6a8;

	align-items: center;
	
	display: inline-block;
	border: 0em;
	margin: .1em;
	padding: 0em;
	padding-right: .1em;
	padding-left: .1em;
	box-shadow: 0 0 0 0 #fff6a8, 0 .25em 0 0 #a89f6b;
	
	cursor: pointer;
	
	transition: .1s cubic-bezier(0, 0, .8, 1);
}

.key.sp:active {
	//transform: translate(0, .2em);
        top: 2em;
	box-shadow: 0 0 0 0 #fff6a8, 0 .05em 0 0 #a89f6b;
}
