/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  font-family: $monospace;
  font-size: $type-size-5;
  border-collapse: collapse;
  overflow-x: auto;

  & + table {
    margin-top: 1em;
  }
}

thead {
  // background-color: mix($background-color, $border-color, 80%);
  // border: 2.1px solid $border-color;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  // background-color: mix($background-color, $border-color, 80%); //백그라운드 색
  border: 1px solid $border-color; //겹침 현상 해결
  border-bottom: 2px solid $border-color;
}

td {
  padding: 0.5em;
  border-left: 1px solid mix($border-color, $background-color, 40%);
  border-bottom: 1px solid mix($border-color, $background-color, 40%);
}

tr,
td,
th {
  vertical-align: middle;
}

td:first-child,
th:first-child {
  border-left: 0 solid $border-color;
}

th:last-child {
  border-right: 0 solid;
}
